.card-body {
    overflow-x: auto;
    width: 100%;
}
.td_div_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.td-scroll-wrapper {
    padding-right: 0 !important;
    .td-scroll {
      text-wrap: wrap;
        overflow-y: auto;
        max-height: 130px;
        padding: 0 10px;
    }
}

.td_par_address{
  background-color: goldenrod;
}