.group-content .card {
    display: none;

    &.show {
      display: flex !important;
    }
  }

  .groups .btn {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }

  .group {
    z-index: 5;
  }
  .group.show {
    z-index: 10;
  }
  .group.show .card {
    display: flex;
  }
  .group .card {
    display: none;
  }
  .group .card-body {
    padding: 5px;
    & thead * {
      font-size: 14px;
    }
  }
  .group table {
    margin: 0;
  }

.td-xs{
    width: 140px;
}

.numbering{
    width: 30px !important;
}

.col-4{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
}

.col-4 .form-floating input{
    width: 400px !important;
}


.my-formCheck-class{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.my-formCheck-class label{
    margin-right: -100px;
}

#add-new-btn{
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}



.btn-group-lg>.btn, .btn-lg{
    padding: 5px 10px;
    font-size: 16px;
  }



  .roles_error_message{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: red;
  }

  .table thead tr th {
    position: sticky !important;
    top: 0;
    z-index: 1;
    background-color: darkgray;
}