/* table css */

.card-body {
    position: relative;
}

.table thead tr th {
    position: sticky !important;
    top: 0;
}

td button,
td a i {
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #787878;
}

.table_div {
    resize: vertical;
    overflow: auto;
    height: 560px;
    margin-bottom: 20px;
    min-height: 105px;
}
.person_table .filter-th {
    cursor: pointer;
    position: relative;
}

.person_table,
.dinamic-table {
    min-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    table-layout: fixed;
    width: 100%;
    padding: 10px;
    margin: 0;
}

.person_table tr td,
.dinamic-table tr td {
    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.person_table tr th,
.dinamic-table tr th {
    font-size: 16px;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    background-color: #f6f9ff !important;
}

.person_table tr th:active {
    background-color: #b8b8b8;
}
.person_table tr:nth-child(even),
.dinamic-table tr:nth-child(even) {
    background-color: #f6f9ff;
}

.person_table th:not(:last-child),
.person_table td:not(:last-child),
.dinamic-table th:not(:last-child),
.dinamic-table td:not(:last-child) {
    border-right: 1px solid #b8b8b8;
}

.person_table tr th,
.person_table tr td,
.dinamic-table tr th,
.dinamic-table tr td {
    border-bottom: 1px solid #b8b8b8;
}

.dinamic_div {
    padding: 20px;
    overflow-y: auto;
    height: 400px;
}

.dinamic-table {
    color: inherit;
    background-color: white;
    transform: rotateX(90deg);
    transform-origin: center top;
    transition: all 0.3s;
}

.dinamic-table th {
    height: 40px;
    background-color: white !important;
}

.backgroundClass {
    background-color: rgba(49, 49, 255, 0.882) !important;
    color: white;
}

.resizer {
    position: absolute;
    top: 10px;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
}

.fa-filter {
    position: absolute;
    right: 5px;
    top: 15px;
    cursor: pointer;
    color: #b9b9b9;
}

.fa-filter:hover {
    color: #6a6a6a;
}

/* table css end */

/* serch block css */

.searchBlock {
    background-color: #b9b9b9;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 5px;
    border-radius: 10px;
    position: fixed;
    transition: all 0.1s;
    top: 200px;
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: 66666;
}

.searchBlock_section {
    outline: none;
    width: 240px;
    height: 40px !important;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 15px;
}

.searchBlock_section:focus {
    border: 1px solid #c1c1c1;
}

.and-or-block {
    width: 240px;
    display: flex;
    justify-content: start;
}

.searchBlock_section-andOr {
    width: 55px;
    height: 40px !important;
}

.searchBlock_input {
    position: relative;
    outline: none;
    border: 1px solid #c1c1c1;
    width: 240px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 20px;
}

.searchBlock_input:focus {
    border: 2px solid #c1c1c1;
}

.serch-button,
.delButton {
    border: 1px solid #c1c1c1;
    width: 115px;
    font-size: 13px;
    height: 30px;
    border-radius: 10px;
}

.serch-button:active,
.delButton:active {
    background-color: #6a6a6a;
    color: white;
}

.button_div {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

/* global button  block*/
.button-clear-filter {
    display: flex;
    justify-content: flex-end;
}

/* andzeri arandzin css */

.announcement_modal_span {
    cursor: pointer;
}

.announcement-input-block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: first baseline;
    padding: 0 30px;
}

.modal-button {
    display: flex;
    justify-content: flex-end;
}

/* table css */

/* open button css */

.open-eye {
    color: #6a6a6a;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.2s;
}
.open-edit,
.open-delete,
.open-word,
.open-exclamation,
.open-add,
.open-regenerate {
    font-size: 22px;
    color: #6a6a6a;
    cursor: pointer;
    transition: all 0.2s;
}

.open-eye:hover,
.open-edit:hover,
.open-delete:hover,
.open-word:hover,
.open-exclamation:hover,
.open-add:hover,
.open-regenerate:hover {
    color: black;
}
#regenerateInfo{
    font-size: 30px;
    cursor: pointer;
}
.regenerateDiv{
    display: flex;
    justify-content: end;
}

/* ================================================== */
    /*  optimization css
/* ================================================== */

.table-buttons-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8px;
}
.count_block{
    display: flex;
    justify-content: start;
    column-gap: 5px;
    margin-bottom: 5px;
}
.man-search-inputs-block{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.man-search-inputs{
    display: flex;
    column-gap: 5px;
}
.man-search-inputs div,.full-name-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.man-search-inputs div input{
    width: 200px;
}
.full-name-input{
    width: 615px;
}

