.row>*{
    width: 100%;
    position: relative;
}


.icon-base{
    position: absolute;
    top: 17px;
    right: 15px;
}



.my-date-class{
    display: flex;
    align-items: center;
}


.btn-div{
    display: flex;
    column-gap: 250px;
}

.btn-div-video{
    /* column-gap: 0;
    justify-content: flex-start; */
    display: flex;
    flex-direction: column;
}


.Myteg:hover span a{
    font-size: 16px;
    background-color: transparent;
}

.man-count-div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding-left: 40px;
}


.files{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.newfile{
    display: flex;
    column-gap: 20px;
}

.my-formCheck-class i{
    font-size: 30px;
}

.file-upload-content, .newfile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start !important;
    gap: 15px;
    margin: 20px 0;
}

.file-upload-content div, .newfile div{
    margin-top: 5px;
}


.change-video-style{

    color: green;
    border: 1px solid green;
    font-weight: bold;
}
