/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.upload_fille_father {
    display: flex;
    justify-content: center;
}
.upload_fille_child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    margin-bottom: 15px;
}

.line {
    border: 1px solid black;
    height: auto;
    margin-right: 20px;
}

.file-upload_action {
    text-align: center;
    padding-bottom: 10px;
}

/* .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none; 
    z-index: 9999;
} */


#loader {
  background-color: #7f7f7f00;
  border: #7f7f7f;
 
    /* background-image: url(./Spinner-1s-200px.svg);
  background-repeat: no-repeat; */
    /* border: 4px solid #f3f3f3; */
    /* border-top: 4px solid #3498db; */
    /* border-radius: 50%; */
    /* width: 100px !important;  
     height: 100px;  */
    /* animation: spin 2s linear infinite; */
    /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

#loaderIcon {
    color: blue;
    font-size: 140px !important;
    display: inline-block;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-background {
  background-color: #ddd; /* Grey background color when loading */
}
/* //////////// */
.modal-content,.modal-dialog{
  background-color: #7f7f7f00;
  width: 0;
  height: 0;
}
