.card-body {
  overflow-x: auto;
  width: 100%;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
/* tbody tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.buttons{
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 15px;
  margin-top: 15px;
}

.checkboxTd{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
}

.checkboxTd_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
