.row>*{
    width: 100%;
    position: relative;
}


.icon-base{
    position: absolute;
    top: 17px;
    right: 15px;
}

.modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-header form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.modal-header form input{
    width: 700px;
}

.my-date-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.files{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.newfile{
    display: flex;
    column-gap: 20px;
}

.my-formCheck-class i{
    font-size: 30px;
}

.file-upload-content, .newfile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
    margin: 20px 0;
}

.file-upload-content div, .newfile div{
    margin-top: 5px;
}

.btn-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 7%;
    margin-left: 20px;
    }

.btn-div label{
    width: 30% !important;
}
.btn-div a{
    background-color: #0D6EFD;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}
