.consistent-searche-submit{
    position: static;
    width: 150px;
    margin: 0 auto;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    row-gap: 30px;
}

.table-div-consistent{
    resize: none !important;
    height: auto !important;
}

.form-floating .form-control {
    height: 40px !important;
}

.error-msg {
    font-size: 11px;
    margin-top: -6px;
}

.select2.select2-container.select2-container--default {
    width: 102.5% !important;
}

.select2.select2-container.select2-container--default .select2-selection {
    height: 40px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.select2.select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

