
.row>*{
    width: 100%;
    position: relative;
}


.icon-base{
    position: absolute;
    top: 17px;
    right: 15px;
   
}

.btn-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px ;
    margin-left: 20px;
    }

.btn-div label{
    width: 30% !important;
}
.btn-div a{
    background-color: #0D6EFD;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}


/*================================= larg modal css ======================*/

.modal-buttons{
    display: flex;
    justify-content: end;
    column-gap: 10px;
}




