/* .table_div{
    display: none;
    opacity: 0;
    visibility: hidden;
} */
.table_div {
    margin-top: 30px;
}
.etid-icon,.delete-icon{
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #787878;
}
.etid-icon:hover,.delete-icon:hover{
    color: black;
}
.add_type_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.translate-select{
    width: 400px;
}

/* ======================== create page css ============================ */

.add-translate-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create-translate-inp,.create-translate-select{
    width: 300px;
    height: 40px !important;
}



/* ======================== create page css end ======================== */
