.table_div {
    margin-top: 30px;
}
.etid-icon,.delete-icon{
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #787878;
}
.etid-icon:hover,.delete-icon:hover{
    color: black;
}
.add_type_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.translate-select{
    width: 400px;
}

/* ======================== create page css ============================ */

.add-translate-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create-translate-inp,.create-translate-select,.edit-translate{
    width: 300px;
    height: 40px !important;
}
.add-children-block{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding: 20px;
}
.close-block{
    display: flex;
    justify-content: end;
}
.close-block i{
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
}
.close-block i:hover{
    color: blue !important;
}

.input-block{
    display: flex;
    justify-content: center;
}
.input-children{
    width: 300px;
}

.child-block{
    display: flex;
    justify-content: center;
}
.child-block ul li{
    list-style-type: none;
}
.translate-input-block,.translate-select-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}
.inp-lable{
    color: red;
    font-size: 14px;
}
.child-li{
    margin-bottom: 3px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

/* ======================== create page css end ======================== */


/* ======================== edit page css ============================== */
.edit-input-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit-input-block input{
    max-width: 250px;
}
.show-child-block ul li,.show-child-block input{
    list-style-type: none;
    width: 220px;
}
.show-child-block ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    max-width: 500px;
    flex-wrap: wrap;
} 
.show-child-block{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.edit-button button{
    margin-top: 23px;
}
.edit-translate{
    margin-bottom: 20px;
}

/* ======================== edit page css end ========================== */
