#search_text {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
}
.search-buttons-block{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.k-button{
border: 1px solid ;
background-color: #0D6EFD;
width: 110px;
border-radius: 5px;
color: white;
}
.button-href{
   font-size: 15px;
   padding: 5px;
   color: white;
}
.modal{
--bs-modal-width: 800px !important;
}
.save-files{
    margin-bottom: 10px;
}
.input-check-input-block{
    padding-top: 5px;
}
.table-div{
    overflow: auto;
    height: 400px;
}
.search-word{
    border: 1px solid #ced4da;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    padding: 5px;
    
} 
.file-generate-div>u,.modal-body>u{
    color:aqua !important;
    font-size: 18px !important;
}
.search-count-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-count-div{
    margin: 0  !important;
}
.search-input-num{
    min-height: 40px;
}

