.signal-report{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.report-selects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.export-button{
    display: flex;
    justify-content: end;
    padding-right: 20px;
}
.year-select,.month-select{
    width: 400px;
}

.date_div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}