/* table css */

  .person_table tr td {
    text-align: center;
  }
  
  /* table css end */

  /* button delete edit css */

  td button, td a i  {
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #787878;

  }
  td button:hover , td a I:hover{
    color: black;

  }

  /* range input css */

  .rangeInput {
    width: 50px;
  }

  /* modal block css */
  .close_modal {
    border: none;
    width: 30px !important ;
    height: 30px !important;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: all 0.2s;
  }
  .close_modal:hover {
    background-color: #6a6a6a;
    color: white;
  }

  td input{
    display: none !important;
    width: 100%;
  }


  .my-btn-class{
    display: none !important;

  }

  .active-input{
    display: block !important;
  }

  .active-btns{
    display: inline-block !important;
  }


  .btns-none{
    display: none;
  }


.my-modal{
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.536);
    display: flex;
    justify-content: center;
}

.my-modal .modal-content{
    margin-top: 200px;
    background-color: white;
    width: 800px;
    height: 200px;
}

.my-form-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: 80px 0;
    margin-top: 0;
}

.my-form-class input{
    padding: 1rem 10.75rem !important;
}

.my-form-class label{
    width: 50% !important;
}

.my-class-sub{
   position: absolute;
   right: 100px;
   top: 100px;
}


.my-opModal{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end
}

table{
  margin-top: 80px;
}
